@charset "UTF-8";
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
.product-details h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 17px;
  font-weight: normal;
  /* 넘칠때 점으로 표시 */
  text-overflow: ellipsis;
  /* 텍스트 줄바꿈 방지 */
  white-space: nowrap;
  overflow: hidden;
}
.product-details p.price {
  font-size: 25px;
  font-weight: bold;
  color: #000;
  margin-bottom: 20px;
}
.product-details span {
  font-weight: normal;
  font-size: 15px;
  color: #999;
}
.product-details span.red {
  color: #FF4081;
  font-weight: bold;
  font-size: 20px;
}
.product-details p i {
  color: #ffd400;
  font-size: 12px;
}
.product-details button {
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
  margin-bottom: 5px;
  margin-right: 2px;
  margin-top: 10px;
}
.product-details button:nth-of-type(1) {
  background-color: rgba(255, 64, 128, 0.6156862745);
  color: #fff;
  border: none;
}
.product-details button:nth-of-type(1):hover {
  background-color: #FF4081;
}

.product-details h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 17px;
  font-weight: normal;
  /* 넘칠때 점으로 표시 */
  text-overflow: ellipsis;
  /* 텍스트 줄바꿈 방지 */
  white-space: nowrap;
  overflow: hidden;
}
.product-details p.price {
  font-size: 25px;
  font-weight: bold;
  color: #000;
  margin-bottom: 20px;
}
.product-details span {
  font-weight: normal;
  font-size: 15px;
  color: #999;
}
.product-details span.red {
  color: #FF4081;
  font-weight: bold;
  font-size: 20px;
}
.product-details p i {
  color: #ffd400;
  font-size: 12px;
}
.product-details button {
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
  margin-bottom: 5px;
  margin-right: 2px;
  margin-top: 10px;
}
.product-details button:nth-of-type(1) {
  background-color: rgba(255, 64, 128, 0.6156862745);
  color: #fff;
  border: none;
}
.product-details button:nth-of-type(1):hover {
  background-color: #FF4081;
}

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

body {
  font-family: "Pretendard-Regular";
}

#alert {
  position: fixed;
  width: 600px;
  height: 40px;
  background-color: #FF4081;
  color: #fff;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;
  border-radius: 25px;
  display: none;
}

header {
  width: 100%;
  height: 140px;
  position: fixed;
  background-color: #fff;
  z-index: 999;
  border-bottom: 3px solid #FF4081;
  padding: 0 5%;
}
header .headerInner {
  width: 74%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  height: 140px;
}

header .headerInner h1.logo img {
  max-width: 100%;
}
header .headerInner .searchTab {
  width: 60%;
  height: 48px;
  border: 2px solid #FF4081;
  border-radius: 50px;
  background-color: #fff;
  position: relative;
}
header .headerInner .searchTab .searchBtn {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #FF4081;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .headerInner .searchTab .searchBtn i {
  color: #fff;
  font-size: 18px;
}
header .headerInner .searchTab input {
  width: 100%;
  height: 48px;
  border-radius: 50px;
  background-color: transparent;
  border: none;
  margin-left: 20px;
  outline: none;
  color: #111;
  font-size: 16px;
  font-weight: 600;
}
header .headerInner .searchTab .searchPage {
  margin-top: 10px;
  width: 95%;
  padding: 15px;
  border: 2px solid #FF4081;
  background-color: #fff;
  display: none;
}
header .headerInner .searchTab .searchPage .searchTextCover {
  margin-top: 20px;
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
}
header .headerInner .searchTab .searchPage .searchTextCover img {
  width: 100px;
  height: 100px;
  cursor: pointer;
}
header .headerInner .searchTab .searchPage .searchTextCover p {
  text-align: center;
  color: #2d3035;
  cursor: pointer;
}

header .headerInner .nav_list {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}
header .headerInner .nav_list i {
  font-size: 20px;
  cursor: pointer;
  color: #FF4081;
}

main section:not(#mainBanner) {
  background-color: #fff;
}

main section#mainBanner {
  padding: 160px 0 0;
  height: 740px;
  overflow: hidden;
  background-color: #fff;
}
main section#mainBanner .swiper-container {
  overflow: hidden;
  position: relative;
}
main section#mainBanner .swiper-container .swiper-wrapper {
  width: 100%;
  display: flex;
  height: 700px;
}
main section#mainBanner .swiper-container .swiper-wrapper .swiper-slide:nth-child(1) {
  background-color: #DDE5EC;
}
main section#mainBanner .swiper-container .swiper-wrapper .swiper-slide:nth-child(2) {
  background-color: #F9DAE8;
}
main section#mainBanner .swiper-container .swiper-wrapper .swiper-slide:nth-child(3) {
  background-color: #FFEBD3;
}
main section#mainBanner .swiper-container .swiper-wrapper .swiper-slide:nth-child(4) {
  background-color: #A2A2A2;
}
main section#mainBanner .swiper-container .swiper-wrapper .swiper-slide:nth-child(5) {
  background-color: #000;
}
main section#mainBanner .swiper-container .swiper-wrapper .swiper-slide:nth-child(6) {
  background-color: #302F36;
}
main section#mainBanner .swiper-container .swiper-wrapper img {
  display: flex;
  width: 74%;
  margin: 0 auto;
  height: 600px;
}
main section#mainBanner .swiper-container .swiper-pagination {
  margin-bottom: 120px;
}
main section#mainBanner .swiper-container .swiper-button-prev {
  color: #d9d9d9;
  background-color: rgba(0, 0, 0, 0.3);
  width: 50px;
  height: 100px;
  transform: translateY(-50%);
  top: 45%;
  left: 0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
main section#mainBanner .swiper-container .swiper-button-next {
  color: #d9d9d9;
  background-color: rgba(0, 0, 0, 0.3);
  width: 50px;
  height: 100px;
  transform: translateY(-50%);
  top: 45%;
  right: 0;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
main section#mainBanner .swiper-container .swiper-pagination-bullet-active {
  background-color: #FF4081;
}

main section#banner {
  height: 111px;
  overflow: hidden;
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: #fff;
  margin-top: 0px;
  margin-bottom: 0px;
}
main section#banner .banner {
  background: url(../images/banner.jpeg) no-repeat center/contain;
  width: 80%;
  height: 240px;
}
main section#banner .membership {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
main section#banner .membership img {
  width: 23%;
  height: auto;
}

section#mainProduct {
  width: 100%;
  padding: 20px 5%;
  max-width: 74%;
  margin: 0 auto;
}

section#mainProduct .product-container {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
}
section#mainProduct .product-container .product {
  overflow: hidden;
  border-radius: 5px;
  background-color: #fff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position: relative;
}
section#mainProduct .product-container .product button#shareButton {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 30px;
  height: 30px;
  text-align: center;
  color: #000;
  border: none;
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border-radius: 50%;
  transition: opacity 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}
section#mainProduct .product-container .product button#shareButton:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
section#mainProduct .product-container .product button#shareButton:hover i {
  color: #000;
}
section#mainProduct .product-container .product button#shareButton i {
  color: #fff;
  font-size: 18px;
}
section#mainProduct .product-container .product img {
  border-radius: 20px;
  width: 100%;
  max-width: 100%;
  height: auto;
}
section#mainProduct .product-container .product .product-details {
  padding: 20px;
}

#nav {
  display: flex;
  background-color: #fff;
  padding: 0px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  justify-content: space-between;
  position: fixed;
  right: -100%;
  bottom: 0px;
  text-align: left;
  z-index: 9999;
  transition: 0.5s;
  width: 600px;
  height: 100%;
  box-shadow: -3px 5px 10px rgba(0, 0, 0, 0.1);
}
#nav #cart {
  width: 70vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 150px;
  padding-left: 50px;
}
#nav #xb {
  position: absolute;
  top: 40px;
  left: 10px;
}
#nav button#clear-cart {
  background-color: rgba(255, 64, 128, 0.6156862745);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px 0 20px 0;
  position: absolute;
  right: 10px;
  top: 10px;
}
#nav button#clear-cart:hover {
  background-color: #FF4081;
}
#nav ul#clear-items {
  list-style: none;
  padding: 0;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  font-size: 18px;
}
#nav ul#clear-items li {
  display: flex;
  justify-content: space-between;
}
#nav ul#clear-items i {
  color: #FF4081;
}
#nav ul.account {
  list-style: none;
  text-align: center;
  position: absolute;
  bottom: 10px;
  transform: translateX(-50%);
  left: 50%;
  width: 100%;
  display: flex;
  border-top: 1px solid #FF4081;
  background-color: #FF4081;
  display: flex;
  justify-content: center;
}
#nav ul.account li {
  width: 20%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  color: #fff;
  font-size: 24px;
}

.buttonCover {
  display: flex;
  justify-content: space-between;
}
.buttonCover button.like-button {
  background-image: url(../images/likebtn.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: transparent;
  opacity: 0.5;
  padding-left: 5px;
  width: 30px;
  height: 30px;
  border: none;
  outline: none;
}
.buttonCover button.like-button:hover {
  opacity: 1;
}

button.unlike-button {
  background-image: url(../images/likebtnAfter.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: transparent;
  padding-left: 5px;
  width: 30px;
  height: 30px;
  border: none;
  outline: none;
}

main section:not(#mainBanner) h2 {
  padding-top: 20px;
  margin-bottom: 20px;
}
main section:not(#mainBanner) h2 strong {
  color: #FF4081;
}

section#newProduct {
  width: 100%;
  padding: 20px 5%;
  max-width: 74%;
  margin: 0 auto;
}

section#newProduct .product-container {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
}
section#newProduct .product-container .product {
  overflow: hidden;
  border-radius: 5px;
  background-color: #fff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position: relative;
}
section#newProduct .product-container .product button#shareButton {
  position: absolute;
  bottom: 32px;
  right: 60px;
  width: 30px;
  height: 30px;
  text-align: center;
  border: none;
  background-color: #fff;
  cursor: pointer;
  border-radius: 50%;
  transition: opacity 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}
section#newProduct .product-container .product button#shareButton:hover i {
  color: #FF4081;
}
section#newProduct .product-container .product button#shareButton i {
  color: rgba(255, 64, 128, 0.6156862745);
  font-size: 24px;
  font-weight: 500;
}
section#newProduct .product-container .product img {
  border-radius: 50%;
  width: 100%;
  max-width: 100%;
  height: auto;
}
section#newProduct .product-container .product .product-details {
  padding: 20px;
}

section#popular {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  width: 100%;
  padding: 20px 5%;
  max-width: 74%;
  margin: 0 auto;
}
section#popular article {
  width: auto;
  height: 600px;
}
section#popular article p i {
  color: #ffd400;
  font-size: 12px;
}
section#popular article .textCover {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section#popular article .textCover span {
  color: #777;
}
section#popular article .chioceProduct {
  width: 300px;
  border-radius: 15px;
  border: 1px solid #ddd;
  overflow: hidden;
  height: 440px;
  margin: 0 auto;
  margin-top: 20px;
}
section#popular article .chioceProduct .chioceProductImg {
  display: flex;
  justify-content: center;
  align-items: center;
}
section#popular article .chioceProduct .text {
  text-align: left;
  margin-left: 25px;
  margin-top: 10px;
}
section#popular article .chioceProduct .text h3 {
  margin-top: 5px;
}
section#popular article .chioceProduct .text p {
  margin-top: 10px;
}

section#popular article.category .tabMenu {
  width: 80%;
  height: 40px;
}
section#popular article.category .tabMenu ul {
  display: flex;
  justify-content: space-between;
}
section#popular article.category .tabMenu ul li {
  cursor: pointer;
}
section#popular article.category .tabMenu ul .tabOn {
  color: #000;
  font-weight: 800;
}
section#popular article.category .tabMenu ul .tab {
  color: #d4d4d4;
  font-weight: normal;
}
section#popular article.category .produceMenu {
  width: 80%;
  height: 400px;
}
section#popular article.category .produceMenu ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgb(241, 241, 241);
}
section#popular article.category .produceMenu ul li img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}
section#popular article.category .produceMenu ul li .productDetails {
  height: 100px;
  width: calc(100% - 100px);
  margin-top: 30px;
}
section#popular article.category .produceMenu ul li .productDetails h3 {
  font-weight: normal;
  font-size: 13px;
}
section#popular article.category .produceMenu ul li .productDetails p.red {
  color: #2d3035;
  font-weight: bold;
}
section#popular article.category .produceMenu ul li .productDetails p.red strong {
  color: #f33f46;
}
section#popular article.category .produceMenu ul li .productDetails p.ea {
  font-size: 12px;
  color: #328c87;
}
section#popular article.category .produceMenu ul li .productDetails p i {
  color: #ffd400;
  font-size: 12px;
}

section#popular .popular_search > p {
  text-align: right;
}
section#popular .popular_search ul.popular_search_cover {
  margin: 0 auto;
  width: 80%;
  height: 440px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-around;
}
section#popular .popular_search ul.popular_search_cover li {
  height: 40px;
  width: 50%;
  display: flex;
  justify-content: space-around;
  background-color: #fafafa;
  align-items: center;
  border-radius: 20px;
  cursor: pointer;
  text-align: center;
}
section#popular .popular_search ul.popular_search_cover li:nth-child(2), section#popular .popular_search ul.popular_search_cover li:nth-child(4), section#popular .popular_search ul.popular_search_cover li:nth-child(7), section#popular .popular_search ul.popular_search_cover li:nth-child(9), section#popular .popular_search ul.popular_search_cover li:nth-child(13), section#popular .popular_search ul.popular_search_cover li:nth-child(14) {
  background-color: #fff1f5;
}
section#popular .popular_search ul.popular_search_cover li span:nth-child(1) {
  width: 20%;
}
section#popular .popular_search ul.popular_search_cover li span:nth-child(2) {
  width: 50%;
}
section#popular .popular_search ul.popular_search_cover li span:nth-child(3) {
  width: 30%;
}
section#popular .popular_search ul.popular_search_cover li span.order {
  font-size: 12px;
}
section#popular .popular_search ul.popular_search_cover li span.New {
  color: #FF4081;
  font-size: 12px;
}
section#popular .popular_search ul.popular_search_cover li span.high {
  color: blue;
  font-size: 12px;
}

footer {
  width: 100%;
  height: 200px;
  background-color: #FAFAFA;
  padding: 0 5%;
}
footer .footerInner {
  width: 74%;
  height: 200px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  align-items: center;
}
footer .footerInner ul {
  list-style: none;
}
footer .footerInner ul p {
  font-size: 16px;
}
footer .footerInner .footerDetails {
  font-size: 16px;
}
footer .footerInner .footerDetails ul {
  display: flex;
}
footer .footerInner .contactUs ul {
  display: flex;
  gap: 10px;
  font-size: 16px;
}
footer .footerInner .info ul {
  display: flex;
  gap: 10px;
  font-size: 16px;
}
footer .footerInner .info ul strong {
  color: #FF4081;
}
footer .footerInner .info ul:nth-child(3) {
  display: flex;
  gap: 10px;
}
footer .footerInner .info ul:nth-child(3) li i {
  font-size: 28px;
  color: rgba(255, 64, 128, 0.6156862745);
  cursor: pointer;
}
footer .footerInner .info ul:nth-child(3) li i:hover {
  color: #FF4081;
}